In [1]:
import pandas as pd

In [2]:
dataset='50-100'

In [3]:
df_f = pd.read_csv(f'./data/datasets/{dataset}/fixed_all.txt', sep='ARMIN', names=['code'])
df_b = pd.read_csv(f'./data/datasets/{dataset}/buggy_all.txt', sep='ARMIN', names=['code'])
df_f.head(1)

/tmp/ipykernel_18689/3422500715.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_f = pd.read_csv(f'./data/datasets/{dataset}/fixed_all.txt', sep='ARMIN', names=['code'])
/tmp/ipykernel_18689/3422500715.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_b = pd.read_csv(f'./data/datasets/{dataset}/buggy_all.txt', sep='ARMIN', names=['code'])

                                                code
0  private void METHOD_1 ( TYPE_1 VAR_1 ) { VAR_2...

In [4]:
df_b.head(1)

                                                code
0  private void METHOD_1 ( TYPE_1 VAR_1 ) { VAR_2...

In [5]:
mapping = pd.read_csv(f'./data/datasets/{dataset}/bugfixes.key.csv', names=['ind', 'commit', 'a', 'b'])
mapping.head(1)

   ind                                    commit  a  b
0    1  d4eb9d26c5882a03866a7e09a74401f8dd13070e  1  4

In [6]:
commits = pd.read_csv('./data/datasets/bugfixing-commits.csv', names=['commit', 'repo', 'url-commit', 'comment'])
commits.head(1)

,commit,repo,url-commit,comment
0,8b33304d8c7e2ac27a9c33dccc7a9c73599eba9d,https://api.github.com/repos/Moligaloo/QSanguosha,https://github.com/Moligaloo/QSanguosha/commit...,Fix some bugs of AI and delete useless code

In [7]:
len(df_f), len(df_b), len(mapping), len(commits)

(65455, 65455, 65455, 10054468)

In [8]:
df_f['commit'] = mapping['commit']
df_b['commit'] = mapping['commit']

In [9]:
joined_f = pd.merge(df_f, commits, on='commit', how='left')

In [10]:
joined_f.head(1)

,code,commit,repo,url-commit,comment
0,private void METHOD_1 ( TYPE_1 VAR_1 ) { VAR_2...,d4eb9d26c5882a03866a7e09a74401f8dd13070e,https://api.github.com/repos/xujianhai/mycat-n...,https://github.com/xujianhai/mycat-netty/commi...,bugfix logger problem

In [11]:
joined_b = pd.merge(df_b, commits, on='commit', how='left')

In [12]:
joined_b.head(1)

,code,commit,repo,url-commit,comment
0,private void METHOD_1 ( TYPE_1 VAR_1 ) { VAR_2...,d4eb9d26c5882a03866a7e09a74401f8dd13070e,https://api.github.com/repos/xujianhai/mycat-n...,https://github.com/xujianhai/mycat-netty/commi...,bugfix logger problem

In [13]:
len(joined_f), len(joined_b), joined_f.isna().any(), joined_b.isna().any()

(65455,
 65455,
 code          False
 commit        False
 repo           True
 url-commit     True
 comment        True
 dtype: bool,
 code          False
 commit        False
 repo           True
 url-commit     True
 comment        True
 dtype: bool)

In [14]:
# joined_f[joined_f['repo'].isna()]
joined_f.isna().sum()

code           0
commit         0
repo          14
url-commit    14
comment       14
dtype: int64

In [15]:
joined_f.to_csv(f'./data/datasets/{dataset}/fixed_labelled.csv')
joined_b.to_csv(f'./data/datasets/{dataset}/buggy_labelled.csv')